<!DOCTYPE html>
<html>
  <head>
    <title>RailsPapercss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="paper container">
	  <div class="row">
	    <div class="col-4 col">
	    	<%= render "layouts/nav_links_for_auth" %> 
	    </div>
	    <div class="col-8 col">
	    	<%= render "layouts/navigation_links" %> 
	    </div>
	  </div>
	</div>
  	
    <%= yield %>
  </body>
</html>
